@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "CategoryEdit";
}
@using LastChance.ViewModel;
@using Entity;
@model AddCategoryModel

<div class="row">
    <div class="col-md-4">
        <div class="col-md-12">
            <h1>Edit Product</h1>
            <hr />
            <form action="/Admin/CategoryEdit" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input value="@Model.Name" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Url">Url</label>
                    <input value="@Model.Url" asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

                @for (int i = 0; i < Model.Products.Count; i++)
                {
                    <input type="hidden" name="Products[@i].Id" value="@Model.Products[i].Id" />
                    <input type="hidden" name="Products[@i].Name" value="@Model.Products[i].Name" />
                    <input type="hidden" name="Products[@i].Price" value="@Model.Products[i].Id" />

                }
            </form>
        </div>

    </div>
    <div class="col-md-8">

        @if (Model.Products.Count == 0)
        {

            <div class="col-md-12 mt-3">
                <div class="alert alert-danger">
                    Ürün yok
                </div>
            </div>

        }
        else
        {

            <div class="col-md-12">

                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <td style="width:20px">Id</td>
                            <td>Name</td>
                            <td style="width:120px">Image</td>
                            <td style="width:30px">Price</td>
                            <td style="width:220px"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td><img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-xr-red-select-201809?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1551226038669" alt="" width="80px"></td>
                                <td>@item.Price</td>
                                <td>
                                    <a href="/admin/products/@item.Id" class="btn btn-primary btn-sm mr-2">Edit</a>
                                    <form action="/admin/deletefromcategory" method="post" style="display:inline;">
                                        <input type="hidden" name="ProductId" value="@item.Id" />
                                        <input type="hidden" name="CategoryId" value="@Model.Id" />
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>

        }




    </div>
</div>

