@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using LastChance.Model
@model UserDetails
@{
    ViewData["Title"] = "EditUser";
}



<form action="/Admin/EditUser" method="post">
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-12">
                <h1>Edit User</h1>
                <hr />

                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" name="Id" value="@Model.UserId" />
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input value="@Model.FirstName" asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input value="@Model.LastName" asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input value="@Model.UserName" asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input value="@Model.Email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
              


                <button type="submit" class="btn btn-primary">Submit</button>


            </div>
        </div>
        <div class="col-md-4">

            @foreach (var rolename in ViewBag.Roles)
            {
                <div class="custom-control custom-checkbox mt-3">
                    <input class="custom-control-input" type="checkbox" name="selectedRoles" value="@rolename" id="@rolename" @(Model.SelectedRoles.Any(i => i == rolename) ? "checked" : "")>
                    <label class="custom-control-label" for="@rolename">@rolename</label>
                </div>

            }
            <hr />
            <div class="custom-control custom-checkbox">
                <input asp-for="EmailConfirmed" class="custom-control-input" type="checkbox">
                <label asp-for="EmailConfirmed" class="custom-control-label"></label>
            </div>

        </div>
    </div>
</form>
